// REMOVE THIS EVENTUALLY
.buttons {
	word-break: break-all;
}

body {
	.fancybox-container {
		z-index: 99999;
	}
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

a.back {
	position: relative;
	padding-left: 1em;
	flex-basis: 100%;
	&:before,
	&:after {
		content: '';
		position: absolute;
		width: 10px;
		height: 2px;
		background: #ec1846;
		border-radius: 5px;
		left: 0;
		@include transition(all, 0.5s, ease-out);
	}
	&:after {
		bottom: 8px;
		transform: rotate(45deg);
	}
	
	&:before {
		top: 8px;
		transform: rotate(-45deg);
	}
	&:hover:before,
	&:hover:after {
		background: $purple;
	}
}

.wrapper {
	display: flex;
	flex-basis: 100%;
	padding: 1em;
}

.blog {
	.content-area {
		.wrapper {
			flex-wrap: wrap;
			article {
				display: flex;
				flex-basis: 100%;
				flex-wrap: wrap;
			}
		}
	}
}

.content-area {
	display: flex;
	justify-content: center;
	position: relative;
	z-index: 9;
	margin: 2em 0;
	flex-wrap: wrap;
	.wrapper {
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		article {
			display: flex;
			flex-basis: 100%;
			flex-wrap: wrap;
		}
	}
}

a {
	color: $pink;
	&:hover,
	&:focus {
		@include transition (all, 0.5s, ease);
		color: $purple;
	}
	&:visited {
		color: $pink;
	}
}
